<input (input)="onFilterChange()" type="text" [(ngModel)]="todoSearch" />

<ng-container [ngSwitch]="todoSearch">
  <div [ngStyle]="{ backgroundColor: 'yellow' }" *ngSwitchCase="'Банан'">
    Ви шукаєте Банан!
  </div>
  <div *ngSwitchCase="'Яблуко'">Ви шукаєте Яблуко!</div>
  <div *ngSwitchCase="'Апельсин'">Ви шукаєте Апельсин!</div>
</ng-container>

<app-todo-item
  *ngFor="let item of todoSearch !== '' ? filteredTodoItems : todoItems"
  [item]="item"
  [appTodoHighlight]="item"
></app-todo-item>

<form [formGroup]="todoForm">
  <input
    type="text"
    formControlName="newTodoContent"
  />
  <button type="submit" (click)="onTodoAdd()">Додати Туду</button>
  <div
    *ngIf="
      todoForm.controls.newTodoContent.touched &&
      todoForm.controls.newTodoContent.errors
    "
  >
    Поле не може бути пустим.
  </div>
</form>
